doctype html
html
    head
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet")
        link(href='/style.css' rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
        title #{title}

    body
        div(id="parentSideNav" class="sideNav")
            a(href="javascript:void(0)" class="closeBtn") &times;
            a(href=`/parent/home/${id}`) Home
            a(href=`/parent/recordLog/${id}`) Record Log
            a(href=`/parent/emailForm/${id}`) Send an Email
            a(href=`/parent/chatroom/${id}`) Chat with your Teacher
            a(href="/parent/selectStudent") Select Another Student
            a(href="/logout") Log Out

        div(id="parentMain")
            div(class="topBar")
                span(class="burgerIcon") &#9776;
                h1 #{title}
            block content
            script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
            script(src="https://smtpjs.com/v3/smtp.js")
            script(src="/parentBackend.js")